*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.timer{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    width: 50%;
margin:0 auto;   
}
  .timer div{
      border-radius: 3px;
       display: flex;
       width: 40%;
       height: auto;
      justify-content: space-between;
      text-align: center;
      padding: 1%;

  }
  section p:first-child, .timer div:last-child span{
      font-size: 3em;
      margin: 0;
      font-weight: 600;
  }
  section p:last-child{
      color: var(--color);
      margin: 0;
      font-size: 20px;
      font-weight: 600;
  }

    @media(max-width:1100px){
     .allQuestions{
         width:80% ;
     }
       .timer div{
       width: 100%;
  }
  }

  @media(max-width:600px){
      
     .allQuestions{
         width: 95%;
     }
  }